// Viewports
$xs-width: 0px;
$s-width: 700px;
$m-width: 1020px;
$l-width: 1340px;

// Colors
$white-color: #ffffff;
$soya-bean-color: #6c5f4a;
$smalt-color: #0a3b93;
$smalt-dark-color: #0a3b8e;
$linen-color: #f7eee5;
$stonewall-color: #8a7b60;
$stonewall-opacity67-color: rgba(138, 123, 96, 0.67);
$stonewall-opacity42-color: rgba(138, 123, 96, 0.42);

// Fonts
$primary-font: "Arial", sans-serif;

// Weights
$weight-regular: 400;