.swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 4px;
  --swiper-pagination-bullet-inactive-color: #8a7b60;
  --swiper-pagination-bullet-inactive-opacity: 0.33;
}

.swiper-pagination-bullet-active {
  --swiper-theme-color: #0a3b93;
}
